<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{/../fragments/head :: head('Acesso Negado')}"></th:block>
<body>
	<th:block th:replace="~{/../fragments/head :: header}"></th:block>
	<div class="container" style="text-align:center; padding-top: 60px;">
		<h1 style="font-size: 64px; color: var(--red); margin-bottom: 0;">403</h1>
		<p style="font-size: 18px; color: var(--text-s);">Acesso Negado</p>
		<p style="margin-bottom: 24px;">Você não tem permissão para acessar este recurso.</p>
		<a href="/" class="btn btn-primary">Ir para a Página Inicial</a>
	</div>
</body>
</html>
